# FastAPI 및 관련 라이브러리
fastapi==0.110.0
uvicorn[standard]==0.22.0

# 데이터베이스 관련 라이브러리
sqlalchemy==2.0.12
mysql-connector-python==8.0.33

# 테스트 관련 라이브러리
pytest==7.3.1
pytest-asyncio==0.21.0
httpx==0.24.1  # FastAPI 테스트 클라이언트에서 사용

# 기타 유틸리티
python-dotenv==1.0.0  # 환경 변수 로드